{% load staticfiles %}
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/website.css' %}">
    <title>Colormash</title>
</head>
<body>
    <nav class="col-sm12 text-right">
        <a class="btn btn-primary" href="{% url 'add_tint' %}" role="button"><span class="glyphicon glyphicon-plus"></span>  Add a tint!</a>
        <a class="btn btn-primary" href="{% url 'ranking' %}" role="button"><span class="glyphicon glyphicon-tower"></span>  Ranking</a>
    </nav>
    <h1>Which tint is the darkest?</h1>
    <div class = "container">
        <div class="row">
            <form method="POST" class="welcome_page_form" enctype = "multipart/form-data">{%csrf_token %}
                <p>Test0</p>
                {{ voteForm.as_p }}
                <p>Test1</p>
                <button type = "submit" class ="{{ random_tint_one }}" name="{{ random_tint_one.pk }}">
                    <img src = "{{ random_tint_one.image.url }}"alt = "{{ random_tint_one.pk }}">
                </button>
                <button type = "submit" class ="{{ random_tint_two }}" name="{{ random_tint_two.pk }}">
                    <img src = "{{ random_tint_two.image.url }}"alt = "{{ random_tint_two.pk }}">
                </button>
            </form>
        </div>
    </div>
<!-- JAVASCRIPT -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
     <script src="/static/js/app.js"></script> 
</body>
</html>