{% load staticfiles %}
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/website.css' %}">
    <title>Colormash - tint #{{ tint.hex_name }}</title>
</head>
<body>
    <h1><a href="{% url 'welcome_view' %}">Tint of purple}</a></h1>
    {% block content %}
    <div class="container">
        <div class="row">
            <img id="in-line" class="col-sm-4" src=" {{ tint.image.url }}" class = 'img-resp'>
            <ul class = "col-sm-6">
                <li> Hexadecimal name: #{{ tint.hex_name }}</li>
                <li> RGB code: {{ tint.rgb_name }}</li>
                <li> ELO: {{ tint.elo }}</li>
                <li> Rank: {{ tint.rank }} </li>
            </ul>
        </div>
    </div>
    {% endblock %}
</body>
</html>