{% load staticfiles %}
<html>
<head>
    <title>SocialRep</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/appOne.css'%}">
</head>
<body>
    <div class = ".container">
        <div class = "row">
            <div class="col-md-6 text-center">
                <h1>Vodafone UK in FTSE1000</h1>
            </div>
            <div class="col-md-6 text-center">
                <h1>Social Feed</h1>
            </div>
        </div>
        <div class = "row">
            <div class="col-md-6 text-center">
                <img class = "graph" src = "{% static "AppOne/highP.png" %}" alt = "graph1" width = "75%">
                <p class = "top-margin">Our indicators measure the following mood: {{ average_mood }}% </p>
                {% for i in top_tweets %}
                <p>{{ mood }}</p>
                {% endfor %}
                <p><a class="btn btn-primary btn-lg" href="" role="button"><span class = "glyphicon glyphicon-repeat"></span> Refresh</a></p>
            </div>
            <div class="col-md-6 text-center">
                {% for tweet in top_tweets %}
                <div id = "tweet"class="well"><p>{{ tweet }}</p></div>
                {% endfor %}
            </div>
        </div>
        </div>
    </div>
</body>
</html>