{% load staticfiles %}
<html>
<head>
    <title>SocialRep</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/appOne.css'%}">
</head>
<body>
    <div class = ".container">
        <div class = "row">
            <div class="col-md-6 text-center">
                <h1>Vodafone UK in FTSE1000</h1>
            </div>
            <div class="col-md-6 text-center">
                <h1>Social Feed</h1>
            </div>
        </div>
        <div class = "row">
            <div class="col-md-6 text-center">
                <img src "highP.png" alt = "graph1">
            </div>
            <div class="col-md-6 text-center">
                <img src "/static/highP.png" alt = "graph2">
            </div>
        </div>
    </div>
</body>
</html>